/*--------------------------------------
 * Google Clone
 *
 * Author: ArkWist
 *------------------------------------*/

body{
	margin: 0;
	font-size: 13px;
	font-family: arial, open-sans;
	background-color: #ffffff;
}

/***************************************
 * Top Navigation
 **************************************/

nav{
	display: inline;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header ul{
	padding: 0 .5em;
	border-bottom: 1px solid #000000;
	background-color: #2d2d2d;
}

nav li{
	float: left;
}

nav li.right{
	float: right;
}

/* Gradiated bar between Username and Settings (gear). */
nav li a.bar-left{
	background-size: 1px 100%;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(90deg, #2d2d2d 0%, #cccccc 50%, #2d2d2d 100%);
}

nav li a{
	display: block;
	text-align: center;
}

header li a{
	padding: .5em;
	color: #cccccc;
	text-decoration: none;
}

header li a:hover{
	background-color: #4c4c4c;
}

/* Drop-down arrow after もっと見る. */
nav li a.drop-down::after{
	content: " ▾";
}

nav li a.current-page{
	font-weight: bold;
	color: #ffffff;
	box-shadow:inset 0 2px 0 0 #dd4b39;
}

/***************************************
 * Logo and Search Box
 **************************************/

#search-area{
	text-align: center;
	position: absolute;
	top: 30%;
	width: 100%;
	font-size: 16px;
}

/* Positioning for 日本語, no matter the screen size. */
#language-flag{
	margin: 0;
	position: absolute;
	width: 100%;
	top: 75px;
	left: 103px;
	font-family: roboto-regular, arial, sans-serif;
	font-size: 16px;
	color: #4285f4;
}

#search-area input{
	margin-top: 2em;
}

#google-search{
	font-size: 16px;
	padding: .6em;
	width: 44%;
	min-width: 270px;
}

#buttons input{
	margin-left: .2em;
	margin-right: .2em;
	padding: .5em 1.5em;
	font-weight: bold;
	font-family: arial, sans-serif;
	color: #757575;
	background-color: #f4f4f4;
	border: 1px solid #f2f2f2;
}

#buttons input:hover{
	color: #222222;
	border-color: #c6c6c6;
}

/***************************************
 * Bottom Navigation
 **************************************/

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer ul{
	padding: 0 1em;
	border-top: 1px solid #e4e4e4;
	background-color: #f2f2f2;
}

footer li a{
	padding: 1em;
	color: #666666;
	text-decoration: none;
}

footer li a:hover{
	text-decoration: underline;
}